@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rajdhani';
}

body {
    background: linear-gradient(0deg, rgba(19, 41, 61, 1) 0%, rgba(237, 245, 249, 1) 63%);
}

header {
    height: 100px;
    font-size: 15pt;
}

p {
    margin: 50px;
}

h1 {
    font-size: 30pt;
    font-family: 'Zen Dots';
}

.home-box {
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    background: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/scantron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.btn-startQ {
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(19, 41, 61, 1);
    font-size: 15pt;
    color: white;
    text-decoration: none;
}

.btn-startQ:hover {
    background-color: darkred;
}


.info {
    font-size: 18pt;
    padding: 20px;
}

.highScores {
    float: left;
    margin: 50px;
    text-decoration: none;
}

.time {
    float: right;
}

/* Quiz CSS */
.quiz-box {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.choice-container {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

h2 {
    font-size: 25pt;
    font-family: 'Zen Dots';

}

.btn {
    border: none;
    background-color: rgba(19, 41, 61, 1);
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 20pt;
}

.btn:hover {
    background-color: darkred;
}

.result {
    margin-top: 50px;
    border-top: 2px solid lightgray;
    color: lightgray;
    font-size: 20pt;
}



/* End screen style */
h3 {
    font-size: 30pt;
    font-family: 'Zen Dots';
    text-align: center;
}

p {
    font-size: 20pt;
}

.end-box {
    width: 60vw;
    height: 400px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/done.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* High Score style */
.high-scores {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    background: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/highscore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.score-container {
    gap: 50px;
    margin: 50px 0;
    background-color: rgba(19, 41, 61, 1);
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 20pt;
    list-style: none;
}

.score-container ol li {
    padding: 10px;
}

.high-scores h4 {
    font-size: 30pt;
    font-family: 'Zen Dots';

}

.btn-again {
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(19, 41, 61, 1);
    font-size: 15pt;
    color: white;
    text-decoration: none;
}

.btn-again:hover {
    background-color: darkred;
}

.hide {
    display: none;
}